[Unit]
Description=Kino Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/kinobot
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
